body {
    font-family: Arial, sans-serif;
    background-color: rgba(248, 212, 245, 0.233);
    color: rgb(102, 2, 141);
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

th,
td {
   border: 2px solid #430349;
   padding: 10px;
   text-align: left;
}

th {
    background-color: rgb(194, 102, 248);
    color:rgb(255, 255, 255);

}
h2 {
    color:rgb(147, 46, 206);
    margin-top: 30px;
    border-bottom: 2px solid rgb(112, 38, 209);
    padding-bottom: 5px;
}

a {
    color:rgb(37, 37, 37);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:rgb(160, 44, 228);
    text-decoration: underline;
}

form {
    background-color: rgb(247, 139, 8);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(235, 15, 15, 0.5);
}
.imagem-galeria {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(36, 3, 90, 0.1);
}
form {
    background: rgb(217, 163, 235);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(58, 56, 56, 0.05);
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="button"]:hover {
    background-color: rgb(179, 13, 230);
}
.caixa-test{
    width: 250px;
    height: 100px;
    border: 2px dashed rgb(231, 8, 220);
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(195, 42, 241);
}
.container-principal {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
}
@media (max-width: 768px) {

    form,
    main,
    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    input[type="text"],
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
}